nav > *{
    padding: 10px;
}

.buttonsProductsDiv{
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

#pNameForm,#pPriceForm{
    color: red;
}

#h2Products{
text-align: center;
}

#products{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10px;
}

#products > div {
    padding: 10px;
    border: 1px solid black;
}

#products > p {
    padding: 10px;
}

