nav > *{
    padding: 10px;
}

.buttonsProductsDiv{
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

#pNameForm,#pPriceForm{
    color: red;
}

#h2Products{
text-align: center;
}

#products{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

#products > p {
    padding: 10px;
}

